body {
    background-color: black
}

.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    border: 10px solid darkgray;
    height: 700px;
    
}

.item {
    background-color: gold;
    border-radius: 2px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 , .item8 {
    grid-column: span 5;
}

.item2 {
    grid-row: span 3;
    grid-column: span 2;
}

.item3 {
    grid-row: span 5;
    grid-column: span 3;
}

.item4 {
    grid-row: span 4;
    grid-column: span 2;

}

.item5 {
    grid-row: span 2;
    grid-column: span 3;

}

.item6 {
    grid-row: span 2;
    grid-column: span 4;
}

.item7 {
    grid-row: span 2;
}