h1 {
    background-color: sandybrown;
    color: olive;
    font-size: 2em;
}

.container {
    display: flex;
    justify-content: space-around;
}

.top {
    background-color: lightskyblue;
    color: white;
    text-align: center;
    font-size: 3em;
}

.mid {
    background-color: lightskyblue;
    color: white;
    text-align: center;
    font-size: 3em;
}

.bot {
    background-color: lightskyblue;
    color: white;
    text-align: center;
    font-size: 3em;
}