* {
    padding: 0px;
    margin: 0px;
}

body {
    line-height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 235, 235);
    font-family: 'Merriweather', serif;
    text-shadow: 1px;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: gainsboro;
    padding: 10px 30px;
    border-bottom: 2px solid goldenrod;

}

hr {
    color: goldenrod;
    border-top: 2px solid goldenrod;
}

.cont {
    padding: 10px 30px;
}

.title {
    color: goldenrod;
    font-size: 1.5em;
}

.container > *:nth-child(1) {
    flex: 1 1 10%;

}

.container > *:nth-child(2) {
    flex: 1 1 70%;
    padding-top: 30px;
}
.container > *:nth-child(3) {
    flex: 1 1 20%;
}

#pic {
    width: 100px;
    height: 100px;
    border-radius: 30%;
}

.con {
    display: flex;
    justify-content: space-between;
}