<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CV</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h1>Itay Moshel</h1>
    <h3>Full Stack Developer</h3>
    <h4><u>Herzliya</u> | <u>050-980-8220</u> | <u>Moshelitay@gmail.com</u></h4>
    <h5>https://github.com/ItayMoshel</h5>
    <hr>
    <br>
    <h3 style="font-weight: bold;">SUMMARY</h3><hr>
    <span>Security guard, learning computer science in the open university</span>
    <br>
    <br>
    <h3 style="font-weight: bold;">TECHNICAL SKILLS</h3><hr>
    <span>Python, OOP, Flask, JavaScript.</span>
    <br>
    <br>
    <h3 style="font-weight: bold;">JOB EXPERIENCE</h3><hr>
    <div class="con">
        <div><h4>Security guard</h4></div>
        <div><span>Tel-Aviv, Israel</span></div>
    </div>
    <div class="con">
        <div>SB Israel</div>
        <div>04/2017 - Present</div>
    </div>
    <br>
    <h3 style="font-weight: bold;">EDUCATION</h3><hr>
    <div class="con">
        <div style="font-weight: bold;">Full Stack Web Development, Python and JavaScript program</div>
        <div><span>Tel-Aviv, Israel</span></div>
    </div>
    <div class="con">
        <div>Developers Institute, TLV Coding Bootcamp</div>
        <div>07/2021 – 12/2021</div>
    </div>
    <br>
    <h3 style="font-weight: bold;">LANGUAGES</h3><hr>
    <span style="font-weight: bold;">Hebrew:</span> native speacker <br>
    <span style="font-weight: bold;">English:</span> working professional
</html>