<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CV</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
    <header class="container head">
        <div>
            <img id="pic" src="static/image.png" alt="">
        </div>
        <div style="">
            <h1>Itay Moshel</h1>
            <h3>Full Stack Developer</h3>
        </div>
        <div>
        <h4><u>Herzliya</u> | <u>050-980-8220</u>  <u>Moshelitay@gmail.com</u></h4>
        <h5>https://github.com/ItayMoshel</h5>
        </div>
    </header>
    <hr>
    <br>
    <section class="cont" id="one">
        <h3 class="title" style="font-weight: bold;">SUMMARY</h3><hr>
        <span>Security guard, learning computer science in the open university</span>
        <br>
        <br>
    </section>
    <section class="cont" id="two">
        <h3 class="title" style="font-weight: bold;">TECHNICAL SKILLS</h3><hr>
        <span>Python, OOP, Flask, JavaScript.</span>
        <br>
        <br>
    </section>
    <section class="cont" id="three">
        <h3 class="title" style="font-weight: bold;">JOB EXPERIENCE</h3><hr>
        <div class="con">
            <div><h4>Security guard</h4></div>
            <div><span>Tel-Aviv, Israel</span></div>
        </div>
        <div class="con">
            <div>SB Israel</div>
            <div>04/2017 - Present</div>
        </div>
        <br>
    </section>
    <section class="cont" id="four">
        <h3 class="title" style="font-weight: bold;">EDUCATION</h3><hr>
        <div class="con">
            <div style="font-weight: bold;">Full Stack Web Development, Python and JavaScript program</div>
            <div><span>Tel-Aviv, Israel</span></div>
        </div>
        <div class="con">
            <div>Developers Institute, TLV Coding Bootcamp</div>
            <div>07/2021 – 12/2021</div>
        </div>
        <br>
    </section>
    <section class="cont" id="five">
        <h3 class="title" style="font-weight: bold;">LANGUAGES</h3><hr>
        <span style="font-weight: bold;">Hebrew:</span> native speacker <br>
        <span style="font-weight: bold;">English:</span> working professional
    </section>
</html>